<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>計算機</title>
</head>

<body>
	<h1>計算機</h1>
	<form action="calculator" method="post">
		<input type="text" name="num1">
		<select name="operators">
			<option value="+">+</option>
			<option value="-">-</option>
			<option value="*">×</option>
			<option value="/">÷</option>
		</select>
		<input type="text" name="num2">
		<button type="submit">=</button>
	</form>
	<p th:text="${result}"></p>
	<p th:text="${error}"></p>
</body>

</html>